body{
    background-color: #F8F8F8;
    margin: 0;
}
.header{
    background-color: #676EC4;
    color: white;
    display: flex;
    justify-content: space-around;
}
.hero{
    margin: 20px 20%;
}
.titulo{
    color: #028480;
   
}
.itemTurno{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.turnos{
    color: #408AF6;
    text-align: center;
}
.menu a{
    text-decoration: none;
    color: white;
}
.clientes{
    width: 100px;
    /*height: 200px;*/
    color: black;
    text-align: center;
    margin: 5% 5%;
}
.logoCliente{
    border: black solid 2px;
}
.articulo{
    border: black solid 2px;
    margin: -2px 0 0 0;
}
.articulo h4{
    color: black;
    margin: 0;
}
.articulo h5, p{
    margin: 0;
}


/*--------------------------------------------*/
.footer{
    background-color: #028480;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer .social{
    margin: 5% 10%;
}